<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

{% include head.html %}

<body>

   {% include header.html %}

   <div class="content">
   	  <div class="wrapper" style="text-align: center; line-height: 2em"> 
			  {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
			  {% for page in pages %} 
			  {% unless page.url contains 'page' %}
			  	|<a href="{{ page.url | prepend: site.baseurl }}" class="{{ page.lang }}">
			  	{% if page.lang == 'en' %}
			  	English
			  	{%endif%}
			  	{% if page.lang == 'pt' %}
			  	Português 
			  	{%endif%}
			  	</a> |
			  {% endunless %}
			  {% endfor %}

			  {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
			  {% for post in posts %}
			    | <a href="{{ post.url | prepend: site.baseurl }}" class="{{ post.lang }}">
			    {% if post.lang == 'en' %}
			  	English
			  	{%endif%}
			  	{% if post.lang == 'pt' %}
			  	Português 
			  	{%endif%}
			    </a> |
			  {% endfor %}
	  </div>
      <div class="container">
         {{ content }}
      </div>
   </div><!-- end .content -->

   {% include footer.html %}
   {% include scripts.html %}

</body>

</html>
